*{
  margin: 0;
  padding: 0;
}

.App{
  background-color: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__posts{
  padding: 10px;
}

.app__header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  padding-left: 10px;
  width: 20vw;
  max-width: 150px;
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
  
}

.app__imageUpload{
  text-align: center;
  padding-bottom: 20px;
}