.imageUpload{
    display: flex;
    flex-direction: column;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-top: 1px solid lightgray;
}

.imageUpload__progress{
    width: 100%;
}